@{
    ViewBag.Title = "VGR Home";
}

<div class="jumbotron">
    <h1>Video Game Ranker</h1>
    <p class="lead">Welcome to video game ranker where you can start your very own personal video game library of your most favorite games!.</p>
    <p><a href="https://localhost:44352/VideoGame" class="btn btn-primary btn-lg">Start your video game library &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a developer</h2>
        <p>
            Add any developer to games in your library to visualize the team that created your favorite title.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44352/GameDeveloper">Add a developer to a game. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personalized Game Ratings</h2>
        <p>Add your own personal rating to each title in your library to help you organize your favorite titles.</p>
        <p><a class="btn btn-default" href="https://localhost:44352/GameRatings">Add a personizled rating to a game. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Favorites List made for you by you</h2>
        <p>Add any title saved into your library to your very own favorites list allows to easily see the best title you have played.</p>
        <p><a class="btn btn-default" href="">Add a game to your very own favorites list. &raquo;</a></p>
    </div>
</div>